NEXT_PUBLIC_WORD_STORE_URL=https://appsource.microsoft.com/
NEXT_PUBLIC_GITHUB_URL=https://github.com/lukasgutwinski
NEXT_PUBLIC_GUT_VENTURES_URL=https://gut-ventures.com/
NEXT_PUBLIC_BOOKING_URL=https://calendly.com/gut-ventures/30-minutes-call
